
  <section class="wrapper">
    <div class="left">
      <img  class="left-image" src="https://media.discordapp.net/attachments/1012951380517990491/1012951490840768623/phones.png?width=292&height=397" alt="phone">
      <img class="screen" src="https://media.discordapp.net/attachments/1012951380517990491/1012952194405904474/screen.jpg?width=223&height=397" alt="phone-screen">
    </div>
    <div class="right">
      <div class="panel login">
        <p class="title">Yahuu</p>
        <form style="margin: 40px">
          <input
            class="input-box"
            type="text"
            name="username"
            required
            placeholder="Phone number, username, or email">
          <input
            class="input-box"
            type="password"
            name="password"
            required
            placeholder="Password">
          <input
            class="button"
            type="submit"
            name="login"
            value="Log In">
          <div class="divider">
            <div class="line"></div>
            <p>OR</p>
            <div class="line"></div>
          </div>
          <a (click)="login()" class="fb" href=#>Log in with Google</a>
          <a class="forgot" href=#>Forgot password?</a>
        </form>
      </div>
      <div class="panel signup">
        <p>Don't have an account?</p>
        <a href=#>Sign up</a>
      </div>
      <div class="apps">
        <!-- <p>Get the app.</p> -->
        <!-- <div class="app-stores">
          <img src="images/app-store.svg" alt="App Store">
          <img src="images/play-store.svg" alt="Play Store">
        </div> -->
      </div>
    </div>
  </section>

