@import url('//fonts.cdnfonts.com/css/billabong');

.nav {
  background-color: #ffffff;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.logo a {
  position: relative;
  color: #000000;
  font-size: 50px;
  font-family: "billabong", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  right: 90px;
}


.wrapper {
  position: relative;
  width: 975px;
  height: 54px;
  top: 0;
  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 18px;
}

.icons {
  width: 300px;
  display: flex;
  justify-content: space-evenly;






}

.home {
  margin: 0px;
  position: relative;
  top: 3px;
}

.explore {
  margin: 0px;
  position: relative;
  top: 3px;
}

.create {
  margin: 0px;
  position: relative;
  top: 3px;
}

.compass {
  margin: 0px;
  position: relative;
  top: 3px;
}

.heart {
  margin: 0px;
  position: relative;
  top: 3px;
}

.profile-img {
  cursor: pointer;
  margin: 0px;
  position: relative;
  top: 6.3px;








}





@media(max-width: 1100px) {
  .nav {
    display: none;

  }


}

.home:hover,
.explore:hover,
.create:hover,
.compass:hover,
.heart:hover,
.profile-img:hover {
  cursor: pointer;
}

nb-card {
  margin: auto;
  width: 820px;
  height: 500px;
  top:100px
}
.dialog{
  height: 100%;
  width: 100%;
}

img.imgs{


  width: 50%;
  height:83.8%;


}
button.bt{
  position: relative;
  left: 350px;
  top:-20px;
  background-color: white;
  border-color:white;
  border: none;
  font-size: 20px;
  outline: none;
}
.p{
  position: relative;
  left: 430px;
  top:-410px
}
.name{
  position: relative;
  left: 470px;
  top:-453px;



}
.write{
  border: none;
  outline: none;

  height: 300px;width: 50% ;
  padding-left: 25px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  position: relative;
  top:-460px;
  left: 410px;
  display: flex;
  word-wrap: break-word;
}
.write input{

  border: none;
  outline: none;
  width: 100%;


}

.dialog{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
}
.dialog .dialog-option{
  border: 1px solid black;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;



}
.dialog .dialog-option input{
 height: 100px;
 width: 100%;
 border: none;
 outline: none;
}

.dialog-option-img{
  width: 70px;
  height: 70px;
  background-color: #2b2b2b;
}
.dialog-option-img img{
  width: 100%;
  height: 100%;
}
.dialog .dialog-img{
  border: 1px solid black;
  width: 50%;
}
.dialog-img img{
  width: 100%;
  height: 100%;
}
