@import url('//fonts.cdnfonts.com/css/billabong');

.nav {
  background-color: #ffffff;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.logo a {
  position: relative;
  color: #000000;
  font-size: 50px;
  font-family: "billabong", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  right: 90px;
}


.wrapper {
  position: relative;
  width: 975px;
  height: 54px;
  top: 0;
  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 18px;
}

.icons {
  width: 300px;
  display: flex;
  justify-content: space-evenly;






}

.home{
  margin: 0px;
  position: relative;
  top: 3px;
}
.explore{
  margin: 0px;
  position: relative;
  top: 3px;
}

.create{
  margin: 0px;
  position: relative;
  top: 3px;
}

.compass{
  margin: 0px;
  position: relative;
  top: 3px;
}
.heart{
  margin: 0px;
  position: relative;
  top: 3px;
}
.profile-img {
  cursor: pointer;
  margin: 0px;
  position: relative;
  top: 6.3px;








}





@media(max-width: 1100px) {
  .nav {
    display: none;

  }


}

;
