@import url('//fonts.cdnfonts.com/css/billabong');

.nav {
  background-color: #ffffff;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.logo a {
  position: relative;
  color: #000000;
  font-size: 50px;
  font-family: "billabong", sans-serif;
  text-decoration: none;
  display: flex;
  justify-content: center;
  right: 90px;
}


.wrapper {
  position: relative;
  width: 975px;
  height: 54px;
  top: 0;
  background-color: #ffffff;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 18px;
}

.icons {
  width: 300px;
  display: flex;
  justify-content: space-evenly;






}

.home {
  margin: 0px;
  position: relative;
  top: 3px;
}

.explore {
  margin: 0px;
  position: relative;
  top: 3px;
}

.create {
  margin: 0px;
  position: relative;
  top: 3px;
}

.compass {
  margin: 0px;
  position: relative;
  top: 3px;
}

.heart {
  margin: 0px;
  position: relative;
  top: 3px;
}

.profile-img {
  cursor: pointer;
  margin: 0px;
  position: relative;
  top: 6.3px;








}





@media(max-width: 1100px) {
  .nav {
    display: none;

  }


}

.home:hover,
.explore:hover,
.create:hover,
.compass:hover,
.heart:hover,
.profile-img:hover {
  cursor: pointer;
}


nb-card {
  margin: auto;
  width: 1000px;
}
.parent{
  width: 100%;
  display: flex;
}
.right-body{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 40%;
  word-wrap: normal;
}

.name{
  font-weight: bold;
}

.caption, .location{
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
  word-wrap: break-word;

}

.left {
  width: 60%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.right{
  width: 40%;
}
.avatar{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
}
.img-create-post{
  display: block;
  margin: 0 auto;
  height: auto;
  width: 50%;
}
.btn{
  border: none;
  outline: none;

}




button.bt{
  position: relative;
  left: 350px;
  top:-20px;
  background-color: white;
  border-color:white;
  border: none;
  font-size: 20px;
  outline: none;
}
