<section class="main">
    <div class="warpper">
        <div class="left-col">
            <div style="width: 90%;">
                <app-story></app-story>
            </div>
            <span *ngFor="let post of posts">

                <div class="post">
                    <div class="info">
                        <div class="user">
                            <div class="profile-pic">
                                <img [src]="post.userId.photoURL" alt="">
                            </div>
                            <p class="name">{{post.userId.displayName}}</p>
                        </div>
                    </div>
                    <img class="post-image" [src]="post.image" alt="">
                    <div class="post-content">
                        <div class="emojis">
                            <nb-icon (click)="like(post._id)" nbTooltip="Thích" icon="heart-outline"></nb-icon>
                            <nb-icon nbTooltip="Lưu" icon="save-outline"></nb-icon>
                        </div>
                        <p class="likes">{{post.likes.length}} likes</p>
                        <span>
                            <p class="description">

                                <span>{{post.userId.displayName}}</span>
                                {{post.content}}
                            </p>
                        </span>
                        <span *ngFor="let comment of post.comments">
                            <p class="comments">
                                <span style="font-style: bold;">{{comment.displayName}}:</span>
                                {{comment.content}}
                            </p>
                        </span>
                        <p class="post-time">{{post.createdAt | date: "medium"}}</p>
                    </div>

                    <div class="comment-wrapper">
                        <nb-icon style="margin-left: 10px;" nbTooltip="Emoji" icon="smiling-face-outline"></nb-icon>
                        <input (keydown)="comment($event, post._id)" [(ngModel)]="content" style="margin-left: 5px;"
                            type="text" class="comment-box" placeholder="Add a comment">
                        <button class="comment-btn">post</button>
                    </div>
                </div>
            </span>

        </div>
        <div class="right-col">
            <div *ngIf="user" class="profile-card">
                <div style="width: 60px; height: 60px;" class="profile-pic">
                    <img [src]="user.photoURL" alt="">
                </div>
                <div>
                    <p *ngIf="user" class="name">{{user.displayName}}</p>
                    <p class="sub-text"></p>
                </div>
                <button class="switch-btn">switch</button>

            </div>
            <p class="suggestion-text">Suggestion for you</p>
            <span *ngFor="let userSg of usersSuggest">
                <div *ngIf="userSg.email !== user.email" class="profile-card">
                    <div class="profile-pic">
                        <img style="width: 60px; height: 60px;" [src]="userSg.photoURL" alt="">
                    </div>
                    <div>
                        <p class="name">{{userSg.email}}</p>
                        <p class="sub-text">{{userSg.displayName}}</p>
                    </div>
                    <button class="switch-btn">Follow</button>
                </div>
            </span>
        </div>
    </div>
</section>
