<section class="main">
    <div class="warpper">
        <div class="left-col">
            <div class="status-warpper">
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>
                <div class="status-card">
                    <div class="profile-pic">
                        <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                        <p class="name">user_name_1</p>
                    </div>
                </div>

            </div>

            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">

                        </div>
                        <p class="name">user_name_1</p>
                        <!-- <img class="options" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0AwULwDbc3L8MsLYkimU7iV3ChvwiujK6L4aAMqjW40YzWw-lAChrsPpiLZl1pUsLVUo&usqp=CAU" alt=""> -->
                    </div>
                </div>
                <img class="post-image" src="https://media.discordapp.net/attachments/1004366655054430258/1009824800715325520/unknown.png?width=544&height=434" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010117837135826964/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118070989230150/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118292792414218/unknown.png" alt="">
                        <img class="icon-save" src="https://media.discordapp.net/attachments/458819083538792460/1010119166675648522/unknown.png" alt="">
                    </div>
                    <p class="likes">8545 likes</p>
                    <p class="description">
                    <span>username</span>
                    Posting this here to say that I think
                    my main account unfortunately got banned 🥲 please h
                    elp me grow this account by sharing it with others</p>
                    <p class="post-time">5 min</p>
                </div>
                <div class="comment-wrapper">
                    <img class="icon" src="https://media.discordapp.net/attachments/1004366655054430258/1010113582035370005/unknown.png  " alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">

                        </div>
                        <p class="name">user_name_1</p>
                        <!-- <img class="options" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0AwULwDbc3L8MsLYkimU7iV3ChvwiujK6L4aAMqjW40YzWw-lAChrsPpiLZl1pUsLVUo&usqp=CAU" alt=""> -->
                    </div>
                </div>
                <img class="post-image" src="https://media.discordapp.net/attachments/458819083538792460/1010253105989951568/unknown.png?width=317&height=434" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010117837135826964/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118070989230150/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118292792414218/unknown.png" alt="">
                        <img class="icon-save" src="https://media.discordapp.net/attachments/458819083538792460/1010119166675648522/unknown.png" alt="">
                    </div>
                    <p class="likes">8545 likes</p>
                    <p class="description">
                    <span>username</span>
                    Posting this here to say that I think
                    my main account unfortunately got banned 🥲 please h
                    elp me grow this account by sharing it with others</p>
                    <p class="post-time">5 min</p>
                </div>
                <div class="comment-wrapper">
                    <img class="icon" src="https://media.discordapp.net/attachments/1004366655054430258/1010113582035370005/unknown.png  " alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">

                        </div>
                        <p class="name">user_name_1</p>
                        <!-- <img class="options" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0AwULwDbc3L8MsLYkimU7iV3ChvwiujK6L4aAMqjW40YzWw-lAChrsPpiLZl1pUsLVUo&usqp=CAU" alt=""> -->
                    </div>
                </div>
                <img class="post-image" src="https://media.discordapp.net/attachments/1004366655054430258/1010252696655253554/unknown.png?width=396&height=434" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010117837135826964/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118070989230150/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118292792414218/unknown.png" alt="">
                        <img class="icon-save" src="https://media.discordapp.net/attachments/458819083538792460/1010119166675648522/unknown.png" alt="">
                    </div>
                    <p class="likes">8545 likes</p>
                    <p class="description">
                    <span>username</span>
                    Posting this here to say that I think
                    my main account unfortunately got banned 🥲 please h
                    elp me grow this account by sharing it with others</p>
                    <p class="post-time">5 min</p>
                </div>
                <div class="comment-wrapper">
                    <img class="icon" src="https://media.discordapp.net/attachments/1004366655054430258/1010113582035370005/unknown.png  " alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">

                        </div>
                        <p class="name">user_name_1</p>
                        <!-- <img class="options" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0AwULwDbc3L8MsLYkimU7iV3ChvwiujK6L4aAMqjW40YzWw-lAChrsPpiLZl1pUsLVUo&usqp=CAU" alt=""> -->
                    </div>
                </div>
                <img class="post-image" src="https://media.discordapp.net/attachments/458819083538792460/1010252174724444220/unknown.png?width=333&height=434" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010117837135826964/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118070989230150/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118292792414218/unknown.png" alt="">
                        <img class="icon-save" src="https://media.discordapp.net/attachments/458819083538792460/1010119166675648522/unknown.png" alt="">
                    </div>
                    <p class="likes">8545 likes</p>
                    <p class="description">
                    <span>username</span>
                    Posting this here to say that I think
                    my main account unfortunately got banned 🥲 please h
                    elp me grow this account by sharing it with others</p>
                    <p class="post-time">5 min</p>
                </div>
                <div class="comment-wrapper">
                    <img class="icon" src="https://media.discordapp.net/attachments/1004366655054430258/1010113582035370005/unknown.png  " alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>


            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic">
                            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">
                            <p class="name">user_name_1</p>
                        </div>
                        <!-- <img class="options" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0AwULwDbc3L8MsLYkimU7iV3ChvwiujK6L4aAMqjW40YzWw-lAChrsPpiLZl1pUsLVUo&usqp=CAU" alt=""> -->
                    </div>
                </div>
                <img class="post-image" src="https://media.discordapp.net/attachments/1004366655054430258/1010253761236697198/unknown.png?width=344&height=468" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010117837135826964/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118070989230150/unknown.png" alt="">
                        <img class="icon" src="https://media.discordapp.net/attachments/458819083538792460/1010118292792414218/unknown.png" alt="">
                        <img class="icon-save" src="https://media.discordapp.net/attachments/458819083538792460/1010119166675648522/unknown.png" alt="">
                    </div>
                    <p class="likes">8545 likes</p>
                    <p class="description">
                    <span>username</span>
                    Posting this here to say that I think
                    my main account unfortunately got banned 🥲 please h
                    elp me grow this account by sharing it with others</p>
                    <p class="post-time">5 min</p>
                </div>
                <div class="comment-wrapper">
                    <img class="icon" src="https://media.discordapp.net/attachments/1004366655054430258/1010113582035370005/unknown.png  " alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
            </div>




        </div>
        <div class="right-col">
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="https://media.discordapp.net/attachments/1004366655054430258/1009824800715325520/unknown.png?width=544&height=434" alt="">
                </div>
                <div>
                    <p class="name">voulezjj</p>
                    <p class="sub-text">voulezjj</p>
                </div>
                <button class="switch-btn">switch</button>

            </div>
            <p class="suggestion-text">Suggestion for you</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="https://media.discordapp.net/attachments/1004366655054430258/1009824800715325520/unknown.png?width=544&height=434" alt="">
                </div>
                <div>
                    <p class="name">voulezjj</p>
                    <p class="sub-text">voulezjj</p>
                </div>
                <button class="switch-btn">Follow</button>

            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="https://media.discordapp.net/attachments/1004366655054430258/1009824800715325520/unknown.png?width=544&height=434" alt="">
                </div>
                <div>
                    <p class="name">voulezjj</p>
                    <p class="sub-text">voulezjj</p>
                </div>
                <button class="switch-btn">Follow</button>

            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="https://media.discordapp.net/attachments/1004366655054430258/1009824800715325520/unknown.png?width=544&height=434" alt="">
                </div>
                <div>
                    <p class="name">voulezjj</p>
                    <p class="sub-text">voulezjj</p>
                </div>
                <button class="switch-btn">Follow</button>

            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="https://media.discordapp.net/attachments/1004366655054430258/1009824800715325520/unknown.png?width=544&height=434" alt="">
                </div>
                <div>
                    <p class="name">voulezjj</p>
                    <p class="sub-text">voulezjj</p>
                </div>
                <button class="switch-btn">Follow</button>

            </div>

        </div>
    </div>
</section>
