<div class="status-warpper">
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>

    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>
    <div class="status-card">
        <div class="profile-pic">
            <img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true"
                alt="">
        </div>
    </div>

</div>