<!Doctype html>
<html lang="en">

<head>
    <title>chat instagram</title>
    <link rel="stylesheet" href="messenger.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <div clas="container">
        <div class="main" style="display:flex">
            <div class="col-user">
                <div class="head">
                    <span>instagram</span>
                    <i class="fas fa-angle-down"></i>
                    <i class="fas fa-edit edit"></i>

                </div>
                <div class="content-user">
                    <span><b>chipu</b></span>
                    <span class="text-blue-float-rigth">1 permintaan</span>
                    <div class="user-chat">
                        <div class="img-wrapper-cirlce">
                            <img src="img/avata1.jpg" width="80px" class="img=circle" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-chat">
            </div>
        </div>
    </div>

</body>

</html>