<section class="wrapper">
    <div class="right">
        <div class="panel login">
            <p class="title">Yahuu</p>
            <form style="margin: 40px">
                <input [(ngModel)]="account.email" autocomplete="off" class="input-box" type="text" name="username"
                    required placeholder="Phone number, username, or email">
                <input [(ngModel)]="account.password" autocomplete="off" class="input-box" type="password"
                    name="password" required placeholder="Password">
                <!-- <input autocomplete="off" class="input-box" type="text" name="username" required
                    placeholder="Display Name"> -->
                <input (click)="signUp()" style="background-color: #0095f6;" class="button" type="submit" name="login"
                    value="Register">
                <div class="divider">
                    <div class="line"></div>
                    <p>OR</p>
                    <div class="line"></div>
                </div>
                <a class="fb">Log in with Google</a>
                <a class="forgot" href=#>Forgot password?</a>
            </form>
        </div>
        <div class="panel signup">
            <p>Have an account?</p>
            <a routerLink="/">Sign in</a>
        </div>
        <div class="apps">
        </div>
    </div>
</section>