<header>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

	<div class="container">

		<div class="profile">

			<div class="profile-image">

				<img src="https://stickershop.line-scdn.net/stickershop/v1/product/24183/LINEStorePC/main.png;compress=true" alt="">

			</div>

			<div class="profile-user-settings">

				<h1 class="profile-user-name">Đắc_Công</h1>

				<button class="btn profile-edit-btn">Edit Profile</button>
       		    <button class="btn profile-setting-btn" aria-label="Profile Settings"><span class="material-symbols-outlined">settings</span></button>




			</div>

			<div class="profile-stats">

				<ul>
					<li><span class="profile-stat-count">500</span> Posts</li>
					<li><span class="profile-stat-count">100</span> Saved</li>
					<li><span class="profile-stat-count">50</span> Tagged</li>
				</ul>

			</div>

			<div class="profile-bio">

				<p class="profile-caption"><span class="profile-real-name">Đắc Công</span> Hôm nay là một ngày tuyệt vời!!</p>

			</div>

		</div>
		<!-- End of profile section -->

	</div>
	<!-- End of container -->

</header>

<main>

	<div class="container">

		<div class="gallery">

			<div class="gallery-item" tabindex="0">

				<img src="https://m.media-amazon.com/images/I/61+IDnJhuxL._AC_SL1500_.jpg" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>


						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 100</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 50</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8pyYQT37O9g5KLbqrqvFUgvQ2Vwfu5galzQ&usqp=CAU" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 89</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 5</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://ss-images.saostar.vn/wp700/pc/1658381255286/saostar-bft7uvmgia8voj4g.png" class="gallery-image" alt="">

				<!-- <div class="gallery-item-type">

					<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

				</div> -->

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 42</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 1</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://cly.1cdn.vn/2022/06/30/2503_ffp_00523_1_.jpg" class="gallery-image" alt="">

				<!-- <div class="gallery-item-type">

					<span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

				</div> -->

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 38</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 0</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://danviet.mediacdn.vn/zoom/700_438/upload/3-2015/images/2015-07-07/1436812212-minion4_uxoh.jpg" class="gallery-image" alt="">

				<!-- <div class="gallery-item-type">

					<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

				</div> -->

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 47</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 1</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://starlight.vn/Areas/Admin/Content/Fileuploads/images/POSTER/90_783b5ded1145f424c4f712c609031824.jpg" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 94</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 3</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://play-lh.googleusercontent.com/03aa6F5TGsCREOEtNT6xMy1rP8RHqc-TNDjFoFQ4TNLHMb1T9RcTx0A6YXzUaTng2A" class="gallery-image" alt="">

				<!-- <div class="gallery-item-type">

					<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

				</div> -->

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 52</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 4</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="http://cdn.shopify.com/s/files/1/0339/7091/3412/products/1_58aa2ec4-c0de-453a-8ff8-cfbbd4ef6116.jpg?v=1618583255" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 66</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 2</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://api.time.com/wp-content/uploads/2015/04/press-release-pantone-minions.jpg?quality=85&w=735&h=628&crop=1" class="gallery-image" alt="">

				<!-- <div class="gallery-item-type">

					<span class="visually-hidden">Gallery</span><i class="fas fa-clone" aria-hidden="true"></i>

				</div> -->

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 45</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">favorite</i> 0</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://www.thewrap.com/wp-content/uploads/2017/06/Minions-Despicable-Me-3-male-female.jpg" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 34</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 1</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://pbs.twimg.com/ext_tw_video_thumb/1553142593986277377/pu/img/YLy54XivLD3N5N-a?format=jpg&name=large" class="gallery-image" alt="">

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 41</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 0</li>
					</ul>

				</div>

			</div>

			<div class="gallery-item" tabindex="0">

				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcLFiHompPgEGwnRQ3voEBCgFe_4ROHT7bEA&usqp=CAU" class="gallery-image" alt="">

				<!-- <div class="gallery-item-type">

					<span class="visually-hidden">Video</span><i class="fas fa-video" aria-hidden="true"></i>

				</div> -->

				<div class="gallery-item-info">

					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="material-icons">favorite</i> 30</li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="material-icons">comment</i> 2</li>
					</ul>

				</div>

			</div>

		</div>
		<!-- End of gallery -->

		<div class="loader"></div>

	</div>
	<!-- End of container -->

</main>


