:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.container {
  width: 70%;
  margin: 0 auto;
  display: block;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;

}

.btn:focus {}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */

.profile {
  padding: 2rem 0;
  width: 100%;
  display: flex;
}

.profile::after {
  content: "";
  display: flex;
  clear: both;
}

.profile-image {
  width: 10%;
}

.profile-right {
  width: 80%;
}

.avt {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;

}

.profile-real-name {}

.profile-caption {
  font-size: 1rem;
}

.profile-user-settings {
  margin-top: 1.1rem;
}

.profile-user-name {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 300;
}

.profile-edit-btn {
  font-size: 1rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem;
}

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem;
}

.profile-hub {
  display: flex;
  gap: 1rem;
}

.profile-stats {
  // margin-top: 2rem;
}

.profile-stats li {
  display: inline-block;
  font-size: 1rem;
  margin-right: 4rem;
  cursor: pointer;
}

.profile-stats li:last-of-type {
  margin-right: 0;
}

nb-card {
  margin: auto;
  width: 1500px;
  height: 700px;
}

.parent {
  width: 100%;
  display: flex;


}

.right-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);


}

.right-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 25%;
}

.right-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 13%;

}

.right-address {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 5%;
}

.name {
  font-weight: bold;
}

.caption,
.location {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px;
}

.left {
  width: 60%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.right {
  width: 40%;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 5px;
}

.img-create-post {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 50%;
}

.btn {
  border: none;
  outline: none;
}



.profile-bio {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem;

}

.material-symbols-outlined {
  width: 70px;
  font-size: 30px;
  position: absolute;
  top: 25px;






}


.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600;
}



@media screen and (max-width: 40rem) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0;
  }

  .profile::after {
    display: none;
  }

  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto;
  }

  .profile-image img {
    width: 7.7rem;

  }

  .profile-user-settings {
    flex-basis: calc(100% - 10.7rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
  }

  .profile-user-name {
    font-size: 2.2rem;
  }

  .profile-edit-btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem;
  }

  .profile-edit-btn {
    margin-left: 0;
  }

  .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem;
  }

  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
    flex-basis: 100%;
  }

  .profile-stats {
    order: 1;
    margin-top: 1.5rem;


  }

  .profile-stats ul {
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada;


  }

  .profile-stats li {
    font-size: 1.4rem;
    flex: 1;
    margin: 0;

  }

}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}



@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center;
  }

  .profile-image {
    grid-row: 1 / -1;
  }



  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0;
  }

  @media (max-width: 40rem) {
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem;
    }

    .profile-image {
      grid-row: 1 / 2;
    }

    .profile-user-settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem;
    }

    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
      grid-column: 1 / -1;
    }

    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
      margin: 0;
    }
  }
}


.main {
  width: 100%;
  justify-content: center;
  display: flex;
}

img {

  width: 60;
  /* need to overwrite inline dimensions */
  height: 100%;
}

.grid-container {
  display: block;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
  width: 70%;
  padding: 20px;
}


/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
  height: 100%;
  width: 500px;

}

.location-number {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(46, 45, 45, 0.2);
  color: white;


  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-number {

  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);

}

.tab {
  display: block;
  margin: 0 auto;
}

nb-tabset {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  display: block;
}


/* for touch screen devices */
@media (hover: none) {
  .location-title {
    opacity: 1;
  }

  .location-image img {
    filter: blur(2px);
  }
}

.tabset {
  justify-content: center;
}