<app-loader *ngIf="!profile"></app-loader>
<div *ngIf="profile" class="container">
  <div class="profile">
    <div class="profile-image">
      <img class="avt" [src]="profile.photoURL" alt="" />
    </div>
    <div class="profile-right">
      <div>
        <h1>{{profile.displayName}}</h1>
      </div>
      <div class="profile-hub">
        <div>
          <span class="stat-number">{{profile.posts.length}}</span> posts
        </div>
        <div>
          <span class="stat-number">{{profile.usersFollow.length}}</span> followers
        </div>
        <div>
          <span class="stat-number">{{profile.usersFollow.length}}</span> following
        </div>
      </div>
      <div class="bio">
        <p>Every things happen for a reason!</p>
      </div>
    </div>
  </div>
</div>
<div class="tab">
  <nb-tabset>
    <nb-tab tabTitle="Bài Viết">
      <app-list-post [posts]="posts"></app-list-post>
    </nb-tab>
    <nb-tab tabTitle="Đã Thích">
      <p>List of <strong>Đã Thích</strong>.</p>
    </nb-tab>
    <nb-tab tabTitle="Được gắn thẻ">
      <p>List of <strong>Được gắn thẻ</strong>.</p>
    </nb-tab>
  </nb-tabset>
</div>