<app-loader *ngIf="!user"></app-loader>
<div class="container">
  <div class="profile">
    <div class="profile-image">
      <img class="avt" [src]="user.photoURL" alt="" />
    </div>
    <div class="profile-right">
      <div class="profile-user-settings">
        <h1 class="profile-user-name" style="position: relative;right: 2px;" >{{user.displayName}}</h1>
        <button class="btn profile-edit-btn" style="position: relative;top:-1px;right: 30px">Edit Profile</button>
      </div>
      <div class="profile-stats">
        <ul>
          <li style="position: relative; left: -42px">
            <span class="profile-stat-count">500</span> posts
          </li>
          <li style="position: relative; left: -42px">
            <span class="profile-stat-count">100</span> followers
          </li>
          <li style="position: relative; left: -42px">
            <span class="profile-stat-count">50</span> following
          </li>
        </ul>
      </div>
      <div class="profile-bio">
        <p class="profile-caption" style="font-size: 12px">
          <span class="profile-real-name" style="font-size: 15px;position:relative;right:2px">Đắc Công</span>
          Hôm nay là một ngày tuyệt vời!!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="tab">
  <nb-tabset>
    <nb-tab tabTitle="Bài Viết">
      <app-list-post></app-list-post>
    </nb-tab>
    <nb-tab tabTitle="Đã Thích">
      <p>List of <strong>Đã Thích</strong>.</p>
    </nb-tab>
    <nb-tab tabTitle="Được gắn thẻ">
      <p>List of <strong>Được gắn thẻ</strong>.</p>
    </nb-tab>
  </nb-tabset>
</div>
