<app-loader *ngIf="!isLoading"></app-loader>
<div *ngIf="isLoading && posts.length !== 0" class="body">
    <main>
        <div class="container">
            <div class="own-gallery">
                <div *ngFor="let post of posts" class="gallery-item" tabindex="0">
                    <span (click)="detail(dialog, post)">
                        <img [src]="post.image" class="gallery-image" alt="">
                        <div class="gallery-item-info">
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </main>
</div>

<div *ngIf="isLoading && posts.length === 0">
    <p style="text-align: center;">Chưa có bài viết !!</p>
</div>


<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header style="text-align: center;"></nb-card-header>
        <nb-card-body style="padding: 0;">
            <div class="body-detail">
                <div class="left">
                    <img class="image-detail" [src]="data.image" alt="">
                </div>
                <div class="right">
                    <div class="top-right">
                        <img style="margin-top: 10px; margin-left: 10px; width: 30px; height: 30px; border-radius: 50%;"
                            [src]="data.user.photoURL" alt="">
                        <p class="detail-user-name"><strong>{{data.user.displayName}}</strong></p>
                    </div>
                    <div class="body-right">
                        <p>{{data.content}}</p>
                        <p>{{data.createdAt | date: "medium"}}</p>
                    </div>
                    <div>
                        <div *ngFor="let comment of data.comments">
                            <p><strong>{{comment.displayName}}</strong>: {{comment.content}}</p>
                        </div>
                    </div>
                    <div class="bottom-right">
                        <div>
                            <p>
                                <nb-icon icon="heart-outline"></nb-icon> {{data.likes.length}} likes
                            </p>

                        </div>
                        <div class="detail-comments">
                            <input placeholder="Bình luận..." class="comment" type="text">
                        </div>
                    </div>
                </div>
            </div>
        </nb-card-body>
        <nb-card-footer>
            <button style="float: right;" nbButton (click)="ref.close()">Close Dialog</button>
        </nb-card-footer>
    </nb-card>
</ng-template>